/* Write your CSS code here */
.user-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 100px;
}

.name {
  font-family: 'Roboto';
  color: #12022f;
  font-size: 20px;
}

.designation {
  font-family: 'Roboto';
  color: #616e7c;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .profile-img {
    width: 150px;
  }
}
